.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color); 

}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 60px;
    margin-top: 50px;
    flex-direction: column;
    gap: 20px;
}

